/logs/
/node_modules/
/target/
dist/
/.tmp/
bower_components/
/.classpath
/.project
/.settings/.jsdtscope
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.eclipse.wst.validation.prefs
/.settings/org.hibernate.eclipse.console.prefs
/.tern-project
/src/main/resources/it/cnr/missioni/print/OrdineMissioneAnticipo.pdf
/src/main/resources/it/cnr/missioni/print/OrdineMissione.pdf
/*.bak
/*.log
/src/main/resources/config/RestDirettore.txt
/.idea/
*.iml
/node/
/DB-H2/*.*
/package-lock.json
/.run/*.*
