<div class="col-md-6">
  <dl class="dl-horizontal" style="text-align: left">
    <dt translate="accountBanner.form.utente">Utente</dt>
    <dd>{{accountBanner.nominativo}}</dd>
    <dt translate="accountBanner.form.luogo-data-nascita"> Luogo e data</dt>
    <dd>{{accountBanner.luogoNascita}} - {{accountBanner.dataNascita | date:'dd/MM/yyyy'}}</dd>
    <dt translate="accountBanner.form.comune-residenza"> Residenza</dt>
    <dd>{{accountBanner.comuneResidenzaRich}}</dd>
    <dt translate="accountBanner.form.indirizzo-residenza"> Indirizzo</dt>
    <dd>{{accountBanner.indirizzoResidenzaRich}}</dd>
  </dl>
</div>
<div class="col-md-6">
  <dl class="dl-horizontal" style="text-align: left">
    <dt translate="accountBanner.form.codice-fiscale">Codice Fiscale</dt>
    <dd>{{accountBanner.codiceFiscale}}</dd>
    <dt translate="accountBanner.form.datore-lavoro">Datore Lavoro</dt>
    <dd>{{accountBanner.strutturaAppartenenza}}</dd>
    <dt translate="accountBanner.form.qualifica-livello">Contratto</dt>
    <dd>{{accountBanner.qualificaRich}} - {{accountBanner.livelloRich}}</dd>
  </dl>
</div>
