<button type="button" ng-disabled="!annoImpegno || !numero" class="btn-sm glyphicon glyphicon-info-sign" ng-click="validateImpegno()" title="{{'missione.form.info-disponibilita' | translate}}"></button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{'missione.form.info-disponibilita' | translate}}</h4>
      </div>
      <div class="modal-body">


<strong>{{'modal-dettagli-impegno.anno' | translate}}</strong>: {{annoImpegno}}
	    <strong>  {{'modal-dettagli-impegno.numero' | translate}}</strong>: {{numero}}<p>
	    <p><strong>{{'modal-dettagli-impegno.descrizione' | translate}}</strong>: {{descrizione}}</p>
		<div ng-show="gae">
		    <p><strong>{{'modal-dettagli-impegno.gae' | translate}}</strong>: {{gae}}</p>
		</div>
	    <p><strong>{{'modal-dettagli-impegno.disponibilita' | translate}}</strong>: {{disponibilita}}</p>
    	<br>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
