<div class="missioni">
    <h4 translate="elenco-ordini-missione.title">Ordini</h4>
    <div class="row">
        <form class="form-inline" role="form" id="missioni" ng-show="uoForUsersSpecial">
               <p class="col-md-12">
                  <span class="input-group">
                  <span class="input-group-addon label-input-group-for-select" translate="missione.form.uo-userid-missione">uo</span>
                    <select ng-disabled="disableUo" ng-change="reloadUoWork(uoWorkForSpecialUser)" class="form-control" id="missioni" ng-model="uoWorkForSpecialUser" ng-options="uo.cd_unita_organizzativa as uo.cd_unita_organizzativa+' '+uo.ds_unita_organizzativa for uo in uoForUsersSpecial"></select>
                   </span>
               </p>
            </form>
            <form class="form-inline" role="form" id="missioni" ng-show="elencoPersone">
                <p class="col-md-12">
                    <span class="input-group">
                    <span class="input-group-addon label-input-group-for-select" translate="missione.form.userid-missione">user</span>
                       <select ng-change="reloadUserWork(userWork)" class="form-control" id="missioni" ng-model="userWork" ng-options="persona.uid as persona.cognome+' - '+persona.nome+' ('+persona.matricola+')' for persona in elencoPersone"></select>
                    </span>
                </p>
            </form>
    </div>
<div ng-show="elencoPersone || !uoForUsersSpecial">

<div class="panel panel-primary" ng-show="accountModel">
  <div class="panel-heading color-celeste-avion text-center">
    <h3 class="panel-title color-celeste-avion" translate="missione.form.box-info">Informazioni anagrafiche</h3>
  </div>
          <div class="panel-body my-panel-body">
            <info-account account="accountModel"></info-account>
          </div>
</div>
<div class="panel panel-success">
  <div class="panel color-verde-scuro text-center row-trim-after">
        <h4 translate="elenco-ordini-missione.filter.title">Filter by date</h4>
  </div>
     <div class="panel-body my-panel-body">
        <div class="col-md-2">
            <p class="input-group">
                <span class="input-group-addon" translate="elenco-ordini-missione.filter.anno">from</span>
                <input type="text" style="text-align:center" class="input-sm form-control" name="daNumero" ng-model="anno" />
            </p>
        </div>
        <div class="col-md-4">
            <p class="input-group">
                <span class="input-group-addon" translate="elenco-ordini-missione.filter.da-numero">from</span>
                <input type="text" class="input-sm form-control" style="text-align:right" name="daNumero" ng-model="daNumero" />
                <span class="input-group-addon" translate="elenco-ordini-missione.filter.a-numero">to</span>
                <input type="text" class="input-sm form-control" style="text-align:right" name="aNumero" ng-model="aNumero" />
            </p>
        </div>
        <div>
            <p class="input-group">
                <cnr-widget-date-range start-date="daData" end-date="aData" ng-model-date="daData" start-label="{{'elenco-ordini-missione.filter.da-data' | translate}}" end-label="{{'elenco-ordini-missione.filter.a-data' | translate}}"/></cnr-widget-date-range>
            </p>
        </div>
       <div class="col-md-7 float-right">
        <button type="button" class="btn btn-primary" ng-click="ricerca()"><span class="glyphicon glyphicon-search"></span>&nbsp;{{'global.button.search' | translate}}</button>
       </div>
       <div class="col-md-12 text-center" ng-show="messageOrdiniNonEsistenti">
        <h5 translate="elenco-ordini-missione.no-result">Nessun Risultato</h5>
       </div>
    </div>
    </div>

    <div ng-show="endSearching">
      <table class="table table-condensed table-striped table-bordered table-responsive table-selected">
        <thead>
          <tr>
              <th style="text-align: center">{{'missione.form.anno' | translate}}</th>
              <th style="text-align: right">{{'missione.form.numero' | translate}}</th>
              <th style="text-align: center">{{'missione.form.data' | translate}}</th>
              <th ng-hide="accountModel" style="text-align: left">{{'main.userid' | translate}}</th>
              <th ng-hide="accountModel" style="text-align: left">{{'missione.form.uo' | translate}}</th>
              <th style="text-align: center">{{'missione.form.stato' | translate}}</th>
              <th style="text-align: left">{{'missione.form.destinazione' | translate}}</th>
              <th style="text-align: left">{{'missione.form.oggetto' | translate}}</th>
              <th style="text-align: center">{{'ordine-missione.form.data-inizio' | translate}}</th>
              <th style="text-align: center">{{'ordine-missione.form.data-fine' | translate}}</th>
          </tr>
        </thead>

        <tbody id ="missioni">
          <tr ng-repeat="ordineMissione in ordiniMissione" ng-click="doSelectOrdineMissione(ordineMissione)" data-method="get">
                <td style="text-align: center" >{{ordineMissione.anno}}</td>
                <td style="text-align: right">{{ordineMissione.numero}}</td>
                <td class="col-md-1" style="text-align: center">{{ordineMissione.dataInserimento | date:'dd/MM/yyyy'}}</td>
                <td ng-hide="accountModel" class="col-md-2" style="text-align: left">{{ordineMissione.uid}}</td>
                <td ng-hide="accountModel" style="text-align: left">{{ordineMissione.uoRich}}</td>
                <td class="col-md-1" style="text-align: center">{{ordineMissione.decodeStato}}</td>
                <td class="col-md-2" style="text-align: left">{{ordineMissione.destinazione}}</td>
                <td class="col-md-4" style="text-align: left">{{ordineMissione.oggetto}}</td>
                <td class="col-md-1" style="text-align: center">{{ordineMissione.dataInizioMissione | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="col-md-1" style="text-align: center">{{ordineMissione.dataFineMissione | date:'dd/MM/yyyy HH:mm'}}</td>
          </tr>
        </tbody>  
      </table>
      <div class="col-xs-3" ng-show="ordiniMissione">
        <button type="button" ng-click="stampa()" class="btn btn-default" data-toggle="tooltip" title="{{'global.button.print' | translate}}"><span class="glyphicon glyphicon-print"></span></button>
      </div>
    </div>
  </div>
</div>
