<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="errors.title">Error Page!</h1>

            <div ng-switch="authenticated" ng-show="errorMessage">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="{{errorMessage}}" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 m-auto pt-3" ng-if="account">
            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h2><span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span> Sistema non disponibile per l'utente {{account.login}}</h2></div>
                <div class="panel-body">
                    <div class="col text-monospace">
                        <p class="h3">Ciao {{account.firstName}}, siamo spiacenti ma la tua utenza <span  class="badge badge-pill badge-warning">{{account.login}}</span> non ha accesso a questo sistema.</p>
                        <div>login: <strong class="font-weight-bold">{{account.login}}</strong></div>
                        <div>nome: <strong class="font-weight-bold">{{account.firstName}}</strong></div>
                        <div>cognome: <strong class="font-weight-bold">{{account.lastName}}</strong></div>
                        <div>email: <strong class="font-weight-bold">{{account.email}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
