<div class="container-fluid">

  <h4 center translate="ordine-missione.title">Ordine di missione</b></h4>
            <form class="form-inline" role="form" id="missioni" ng-show="uoForUsersSpecial">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.uo-userid-missione">uo</span>
                    <select ng-disabled="disableUo" ng-change="reloadUoWork(uoWorkForSpecialUser)" class="form-control" id="missioni" ng-model="uoWorkForSpecialUser" ng-options="uo.cd_unita_organizzativa as uo.cd_unita_organizzativa+' '+uo.ds_unita_organizzativa for uo in uoForUsersSpecial"></select>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni" ng-show="elencoPersone">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.userid-missione">user</span>
                    <select ng-change="reloadUserWork(userWork)" class="form-control" id="missioni" ng-model="userWork" ng-options="persona.uid as persona.cognome+' - '+persona.nome+' ('+persona.matricola+')' for persona in elencoPersone"></select>
                        </span>
                    </p>
            </form>
<div class="row" ng-show="accountModel">
        <div class="col-md-12">

<div class="panel panel-primary">
  <div class="panel-heading color-celeste-avion text-center">
    <h3 class="panel-title color-celeste-avion" translate="missione.form.box-info">Informazioni anagrafiche</h3>
  </div>
          <div class="panel-body my-panel-body">
            <info-account account="accountModel"></info-account>

            <div class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon" translate="missione.form.domicilio-fiscale">Domicilio</span>
                            <input ng-disabled="validazione || disabilitaOrdineMissione" type="text" class="input-sm form-control" name="domicilioFiscale" placeholder="{{'missione.form.domicilio-fiscale.placeholder' | translate}}" ng-model="ordineMissioneModel.domicilioFiscale"/>
                        </span>
            </div>
          </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading color-verde-scuro text-center">
    <h3 class="panel-title color-verde-scuro" translate="missione.form.box-dati">Informazioni anagrafiche</h3>
  </div>
     <div class="panel-body my-panel-body">
            <div class="col-md-2">
              <dl class="align-left dl-horizontal" ng-show="showEsisteOrdineMissione">
                <dt translate="missione.form.numero"> Numero</dt>
                <dd>{{ordineMissioneModel.numero}}</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl class="dl-horizontal" style="text-align: left" ng-show="showEsisteOrdineMissione">
                <dt translate="missione.form.data-inserimento"> Data</dt>
                <dd>{{ordineMissioneModel.dataInserimento | date:'dd/MM/yyyy'}}</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl class="dl-horizontal" style="text-align: left" ng-show="showEsisteOrdineMissione">
                <dt translate="missione.form.stato"> Stato</dt>
                <dd>{{ordineMissioneModel.decodeStato}}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="dl-horizontal" style="text-align: left" ng-show="showEsisteOrdineMissione">
                <dt translate="missione.form.stato-flusso"> Stato</dt>
                <dd>{{ordineMissioneModel.decodeStatoFlusso}}</dd>
              </dl>
            </div>
            <div class="col-md-12">
              <dl class="dl-horizontal" style="text-align: left" ng-show="showCommentFlows">
                <dt translate="missione.form.motivazione-flusso"> Motivazione</dt>
                <dd>{{ordineMissioneModel.commentFlows}}</dd>
              </dl>
            </div>
            <form class="form-inline" role="form" id ="missioni">
                <div class="col-md-3">
                        <span class="input-group">
                          <span class="input-group-addon" translate="ordine-missione.form.priorita">Priorita</span>
                          <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" name="tipoMissionepriorita" ng-model="ordineMissioneModel.priorita" ng-options="value as priorita for (priorita,value) in valoriPriorita"></select>
                        </span>
                </div>
                <p class="col-md-3">
                        <span class="input-group">
                          <span class="input-group-addon" translate="missione.form.tipo-missione">Tipo Missione</span>
                          <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" name="tipoMissione" ng-model="ordineMissioneModel.tipoMissione" ng-options="value as tipoMissione for (tipoMissione,value) in tipiMissione" ng-change="onChangeTipoMissione()"></select>
                        </span>
                </p>
                <p class="col-md-6">
                        <span class="input-group" ng-show="missioneEstera">
                          <span class="input-group-addon" translate="missione.form.trattamento">Tipo Missione</span>
                          <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" ng-model="ordineMissioneModel.trattamento" ng-options="value as trattamento for (trattamento,value) in trattamenti"></select>
                        </span>
              </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <div class="col-md-5">
                        <span class="input-group" ng-show="missioneEstera">
                          <span class="input-group-addon" translate="missione.form.nazione">nazione</span>
                          <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" ng-model="ordineMissioneModel.nazione" ng-options="nazione.pg_nazione as nazione.ds_nazione for nazione in nazioni"></select>
                        </span>
              </div>
                <p class="col-md-7">
                        <span class="input-group">
                          <span class="input-group-addon" translate="missione.form.destinazione">Tipo Missione</span>
                            <input ng-disabled="validazione || disabilitaOrdineMissione" type="text" class="input-sm form-control" name="destinazione" placeholder="{{'missione.form.destinazione.placeholder' | translate}}" ng-model="ordineMissioneModel.destinazione"/>
                        </span>
              </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                        <span class="input-group">
                            <span class="input-group-addon" translate="missione.form.oggetto">oggetto</span>
                            <textarea ng-disabled="validazione || disabilitaOrdineMissione" 
                              class="input-sm form-control" name="oggetto" placeholder="{{'missione.form.oggetto.placeholder' | translate}}" ng-model="ordineMissioneModel.oggetto" rows = "2">
                            </textarea> 
                        </span>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <div class="col-md-8">
                        <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione.form.partenza">partenza</span>
                            <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" name="partenza" ng-model="ordineMissioneModel.partenzaDa" ng-options="value as partenzaDa for (partenzaDa,value) in luoghiDiPartenza"></select>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <p class="input-group">
                            <span class="input-group-addon" translate="ordine-missione.form.distanza">to</span>
                            <input ng-disabled="validazione || disabilitaOrdineMissione" type="text" style="text-align:right" class="input-sm form-control" name="distanza" ng-model="ordineMissioneModel.distanzaDallaSede"/>
                        </p>
                    </div>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="column-in-column col-md-8">
<cnr-widget-datetime-range id-missione="idMissione" disabilitato="validazione || disabilitaOrdineMissione" start-datetime="ordineMissioneModel.dataInizioMissione" end-datetime="ordineMissioneModel.dataFineMissione" start-label="{{'ordine-missione.form.data-inizio' | translate}}" fn-change="onChangeDateInizioFine" end-label="{{'ordine-missione.form.data-fine' | translate}}"></cnr-widget-datetime-range>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <div class="col-md-4">
                        <p class="input-group" ng-show="showObbligoRientro">
                          <span class="input-group-addon" translate="ordine-missione.form.obbligo-rientro">obbligo</span>
                          <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" ng-model="ordineMissioneModel.obbligoRientro" ng-options="value as obbligoRientro for (obbligoRientro,value) in obblighiRientro"></select>
                        </p>
                    </div>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                        <span class="input-group">
                            <span class="input-group-addon" translate="missione.form.note">note</span>
                            <textarea ng-disabled="validazione || disabilitaOrdineMissione" 
                              class="input-sm form-control" placeholder="{{'missione.form.note.placeholder' | translate}}" name="note" ng-model="ordineMissioneModel.note" rows = "2">
                            </textarea> 
                        </span>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.cds-competenza">cds</span>
                    <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" id="missioni" ng-change="reloadCdsCompetenza(ordineMissioneModel.cdsCompetenza)" placeholder="{{'missione.form.cds-competenza.placeholder' | translate}}" ng-model="ordineMissioneModel.cdsCompetenza" ng-options="cds.cd_proprio_unita as cds.cd_proprio_unita+' '+cds.ds_unita_organizzativa for cds in elencoCdsCompetenza"><option value=""></option></select>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni" ng-show="elencoUoCompetenza">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.uo-competenza">uo</span>
                    <select ng-disabled="validazione || disabilitaOrdineMissione" class="form-control" id="missioni" placeholder="{{'missione.form.uo-competenza.placeholder' | translate}}" ng-model="ordineMissioneModel.uoCompetenza" ng-options="uo.cd_unita_organizzativa as uo.cd_unita_organizzativa+' '+uo.ds_unita_organizzativa for uo in elencoUoCompetenza"><option value=""></option></select>
                        </span>
                    </p>
            </form>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading color-rosso-mattone text-center">
    <h3 class="panel-title color-rosso-mattone" translate="missione.form.box-dati-fin">Informazioni anagrafiche</h3>
  </div>
     <div class="panel-body my-panel-body">
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-11">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.cds-spesa">cds</span>
                    <selectize ng-disabled="validazione || disabilitaOrdineMissione" options='elencoCds' config="{maxItems: 1}" ng-change="reloadCds(ordineMissioneModel.cdsSpesa)" ng-model="ordineMissioneModel.cdsSpesa"></selectize>
                        </span>
                    </p>
            </form>
                    <p class="col-md-1">
            <button ng-disabled="validazione || disabilitaOrdineMissione" type="button" class="btn" ng-click="undoCds()">{{'global.button.simpleUndo' | translate}}</button>
                    </p>


            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.uo-spesa">uo</span>
                    <select ng-disabled="!ordineMissioneModel.cdsSpesa || validazione || disabilitaOrdineMissione" ng-change="reloadUo(ordineMissioneModel.uoSpesa)" class="form-control" id="missioni" placeholder="{{'missione.form.uo-spesa.placeholder' | translate}}" ng-model="ordineMissioneModel.uoSpesa" ng-options="uo.cd_unita_organizzativa as uo.cd_unita_organizzativa+' '+uo.ds_unita_organizzativa for uo in elencoUo"></select>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.cdr-spesa">cdr</span>
                    <select ng-disabled="!ordineMissioneModel.uoSpesa || validazione==='S' || disabilitaOrdineMissione" ng-change="reloadCdr(ordineMissioneModel.cdrSpesa)" class="form-control" id="missioni" placeholder="{{'missione.form.cdr-spesa.placeholder' | translate}}" ng-model="ordineMissioneModel.cdrSpesa" ng-options="cdr.cd_centro_responsabilita as cdr.cd_centro_responsabilita+' '+cdr.ds_cdr for cdr in elencoCdr"></select>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.modulo">modulo</span>
                    <select ng-disabled="!ordineMissioneModel.cdrSpesa || validazione === 'S' || disabilitaOrdineMissione" ng-change="reloadModulo(ordineMissioneModel.pgProgetto, ordineMissioneModel.cdrSpesa, ordineMissioneModel.uoSpesa)" class="form-control" id="missioni" placeholder="{{'missione.form.modulo.placeholder' | translate}}" ng-model="ordineMissioneModel.pgProgetto" ng-options="modulo.pg_progetto as modulo.cd_progetto+' '+modulo.ds_progetto for modulo in elencoModuli"><option value=""></option></select>
                        </span>
                    </p>
            </form>

            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.gae">gae</span>
                    <select ng-enabled="ordineMissioneModel.cdrSpesa" ng-disabled="validazione === 'S' || ((disabilitaOrdineMissione && validazione != 'D') || (ordineMissioneModel.statoFlussoApprovato && validazione != 'D'))" class="form-control" id="missioni" placeholder="{{'ordine-missione.form.modulo.placeholder' | translate}}" ng-model="ordineMissioneModel.gae" ng-options="elGae.cd_linea_attivita as elGae.cd_linea_attivita+' '+elGae.ds_linea_attivita for elGae in elencoGae"><option value=""></option></select>
                        </span>
                    </p>
            </form>


            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-11">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="missione.form.voce">voce</span>
                    <selectize ng-disabled="validazione === 'S' || ((disabilitaOrdineMissione && validazione != 'D') || (ordineMissioneModel.statoFlussoApprovato && validazione != 'D'))" options='elencoVoci' config="{maxItems: 1}" ng-model="ordineMissioneModel.voce"></selectize>
                        </span>
                    </p>
            </form>
                    <p class="col-md-1">
            <button ng-disabled="validazione === 'S' || ((disabilitaOrdineMissione && validazione != 'D') || (ordineMissioneModel.statoFlussoApprovato && validazione != 'D'))" type="button" class="btn" ng-click="undoVoce()">{{'global.button.simpleUndo' | translate}}</button>
                    </p>



            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-3">
                        <span class="input-group">
                            <span class="input-group-addon" translate="missione.form.anno-impegno">anno</span>
                            <input ng-disabled="validazione === 'S' || ((disabilitaOrdineMissione && validazione != 'D') || (ordineMissioneModel.statoFlussoApprovato && validazione != 'D'))" type="number" style="text-align:center" class="input-sm form-control" name="anno-impegno" ng-model="ordineMissioneModel.esercizioOriginaleObbligazione"/>
                        </span>
                    </p>
            </form>

            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-4">
                        <span class="input-group">
                            <span class="input-group-addon" translate="missione.form.numero-impegno">numero</span>
                            <input ng-disabled="validazione === 'S' || ((disabilitaOrdineMissione && validazione != 'D') || (ordineMissioneModel.statoFlussoApprovato && validazione != 'D'))" type="number" style="text-align:center" class="input-sm form-control" name="numero-impegno" ng-model="ordineMissioneModel.pgObbligazione"/>
                        </span>
                    </p>
            </form>

                    <p class="col-md-1">
            <cnr-modal-info-impegno anno="ordineMissioneModel.anno" cds="ordineMissioneModel.cdsSpesa" gae="ordineMissioneModel.gae" anno-impegno="ordineMissioneModel.esercizioOriginaleObbligazione" numero="ordineMissioneModel.pgObbligazione"> </cnr-modal-info-impegno>
                    </p>
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-4">
                        <span class="input-group">
                          <span class="input-group-addon" translate="ordine-missione.form.importo-presunto">obbligo</span>
                          <input ng-disabled="validazione || disabilitaOrdineMissione" type="text" class="input-sm form-control" style="text-align:right" ng-currency name="importo-presunto" ng-model="ordineMissioneModel.importoPresunto">
                        </span>
                    </p>
            </form>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading color-verde-giada text-center">
    <h3 class="panel-title color-verde-giada" translate="missione.form.box-add-auth">Informazioni anagrafiche</h3>
  </div>
     <div class="panel-body my-panel-body">
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-6">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione.form.utilizzo-taxi">Taxi</span>
                            <label class="checkbox">
                                    <input ng-disabled="validazione || disabilitaOrdineMissione" type="checkbox" ng-model="ordineMissioneModel.utilizzoTaxi" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
                <div class="col-md-6">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione.form.utilizzo-auto-noleggio">note</span>
                            <label class="checkbox">
                                    <input ng-disabled="validazione || disabilitaOrdineMissione" type="checkbox" ng-model="ordineMissioneModel.utilizzoAutoNoleggio" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </div>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                        <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione.form.note-utilizzo-taxi-noleggio">note</span>
                            <textarea ng-disabled="validazione || disabilitaOrdineMissione" 
                              class="input-sm form-control" placeholder="{{'ordine-missione.form.note-utilizzo-taxi-noleggio.placeholder' | translate}}" name="note" ng-model="ordineMissioneModel.noteUtilizzoTaxiNoleggio" rows = "2">
                            </textarea> 
                        </span>
                </p>
            </form>

            <div class="col-md-12">
              <ul class="pager" ng-show="showEsisteOrdineMissione">
                <li class="previous" ng-show="idMissione"><a ng-click="previousPage()" translate="global.button.close">Chiudi</a></li>
                <li><a ng-click="goAutoPropria()" translate="ordine-missione.button.auto-propria"></a></li>
                <li><a ng-click="goAnticipo()" translate="ordine-missione.button.anticipo">Anticipo</a></li>
              </ul>
            </div>
  </div>
</div>
            <form name="form-inline" role="form" novalidate ng-submit="save()" show-validation id="missioni">
                    <div class="col-md-4" ng-show="!validazione && !disabilitaOrdineMissione">
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-toggle="tooltip" title="{{'global.button.save' | translate}}"><span class="glyphicon glyphicon-ok" style="color:white"></span></button>
                    </div>
            </form>
            <form name="form-inline" role="form" ng-submit="confirm()">
                    <div class="col-md-4" ng-show="showEsisteOrdineMissione && !validazione && !disabilitaOrdineMissione">
                            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="{{'ordine-missione.button.confirm' | translate}}"><span class="glyphicon glyphicon-lock" style="color:white"></span></button>
                    </div>
            </form>
            <form name="form-inline" role="form" ng-submit="validateOrdineMissione()">
                    <div class="col-md-4" ng-show="showEsisteOrdineMissione && validazione === 'S'">
                            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="{{'missione.button.sendToSign' | translate}}"><span class="glyphicon glyphicon-ok" style="color:white"></span></button>
                    </div>
            </form>
            <form name="form-inline" role="form" ng-submit="finalizeOrdineMissione()">
                    <div class="col-md-4" ng-show="showEsisteOrdineMissione && validazione === 'D'">
                            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="{{'ordine-missione.button.sendToFinal' | translate}}"><span class="glyphicon glyphicon-lock" style="color:white"></span></button>
                    </div>
            </form>
            <form name="form-inline" role="form" ng-submit="confirm()">
                    <div class="col-md-3" ng-show="showEsisteOrdineMissione">

                    <div class="col-md-3" ng-show="showEsisteOrdineMissione">
                      <a target="_blank" href="app/rest/public/printOrdineMissione?idMissione={{ordineMissioneModel.id}}&token={{accessToken}}" class="btn btn-default" data-toggle="tooltip" title="{{'ordine-missione.button.print' | translate}}"><span class="glyphicon glyphicon-print" style="color:black"></span></a>
                    </div>

<!--
                      <a target="_blank" href="javascript:;" class="btn btn-default" ng-click="doPrintOrdineMissione(ordineMissioneModel.id)" data-toggle="tooltip" title="{{'ordine-missione.button.print' | translate}}"><span class="glyphicon glyphicon-print" style="color:black"></span></a>
-->
                    </div>
            </form>
            <form name="form-inline" role="form" ng-submit="confirmDelete()">
                    <div class="col-md-1" ng-show="showEsisteOrdineMissione && !validazione && !disabilitaOrdineMissione">
                            <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="{{'global.button.remove' | translate}}"><span class="glyphicon glyphicon-trash" style="color:white"></span></button>
                    </div>
            </form>
        </div>
    </div>
</div>
