<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="syslog.port" value="2524" />
    <property name="LOG_FILE" value="${LOG_FILE:-logs/missioni.log}" />
    <include resource="logging/properties/prod.xml" />

    <!-- spring boot logback configuration files -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <include resource="logging/appender/syslog.xml" />

    <!-- logger CNR -->
    <logger name="it.cnr" level="INFO"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.hazelcast" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="ASYNC_SYSLOG_APPENDER" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
