<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="syslog.port" value="2523" />
    <property name="LOG_FILE" value="${LOG_FILE:-logs/missioni.log}" />
    <include resource="logging/properties/prod.xml" />

    <!-- spring boot logback configuration files -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="SYSLOG APPENDER" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>${syslog.host}</syslogHost>
        <port>${syslog.port}</port>
        <facility>LOCAL1</facility>
        <suffixPattern>${syslog.url} | %d | %-5p | %c:%L | %t | %m%n</suffixPattern>
    </appender>
    <appender name="ASYNC_SYSLOG_APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SYSLOG APPENDER" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- logger CNR -->
    <logger name="Log Request" level="INFO"/>
    <logger name="it.cnr" level="INFO"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.hazelcast" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="ASYNC_SYSLOG_APPENDER" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
