<div class="container-fluid">
  <h4 center translate="ordine-missione-auto-propria.title" translate-values="{numeroOrdineMissione: '{{autoPropriaOrdineMissioneModel.ordineMissione.numero}}', dataOrdineMissione: '{{autoPropriaOrdineMissioneModel.ordineMissione.dataInserimento | date:'dd/MM/yyyy'}}'}">Ordine di missione</b></h4>
    <div class="row">
        <div class="col-md-12">

<div class="panel panel-primary">
  <div class="panel-heading color-celeste-avion text-center">
    <h3 class="panel-title color-celeste-avion" translate="missione.form.box-info">Informazioni anagrafiche</h3>
  </div>
          <div class="panel-body my-panel-body">
            <info-account account="accountModel"></info-account>
          </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading color-verde-scuro text-center">
    <h3 class="panel-title color-verde-scuro" translate="ordine-missione-auto-propria.form.box-dati">Dati Generali</h3>
  </div>
     <div class="panel-body my-panel-body">
          <div class="col-md-12 well highlight"> 
                <dt translate="ordine-missione-auto-propria.form.dati-patente">Dati </dt>
                <dd> <b>{{'datiPatente.form.numero' | translate}}:</b> {{autoPropriaOrdineMissioneModel.numeroPatente}} - <b>{{'datiPatente.form.dataRilascio' | translate}}:</b> {{autoPropriaOrdineMissioneModel.dataRilascioPatente | date:'dd/MM/yyyy'}} - <b>{{'datiPatente.form.dataScadenza' | translate}}:</b> {{autoPropriaOrdineMissioneModel.dataScadenzaPatente | date:'dd/MM/yyyy'}} - <b>{{'datiPatente.form.ente' | translate}}:</b> {{autoPropriaOrdineMissioneModel.entePatente}}</dd>
          </div>

          <div class="col-md-12 well highlight" ng-show="isDisabilitataModificaAuto()"> 
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione-auto-propria.form.motivi-ispettivi">motivi ispettivi</span>
                            <label class="checkbox">
                                    <input ng-disabled="autoPropriaOrdineMissioneModel.id" type="checkbox" ng-model="autoPropriaOrdineMissioneModel.utilizzoMotiviIspettivi" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione-auto-propria.form.motivi-urgenza">motivi urgenza</span>
                            <label class="checkbox">
                                    <input ng-disabled="autoPropriaOrdineMissioneModel.id" type="checkbox" ng-model="autoPropriaOrdineMissioneModel.utilizzoMotiviUrgenza" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione-auto-propria.form.motivi-trasporto">motivi trasporto</span>
                            <label class="checkbox">
                                    <input ng-disabled="autoPropriaOrdineMissioneModel.id" type="checkbox" ng-model="autoPropriaOrdineMissioneModel.utilizzoMotiviTrasporto" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
            </form>
           <div class="col-md-11"> 
                <dt translate="ordine-missione-auto-propria.form.auto-propria">Dati </dt>
                <dd> <b>{{'autoPropria.form.targa' | translate}}:</b> {{autoPropriaOrdineMissioneModel.targa}} - <b>{{'autoPropria.form.marca' | translate}}:</b> {{autoPropriaOrdineMissioneModel.marca}} - <b>{{'autoPropria.form.modello' | translate}}:</b> {{autoPropriaOrdineMissioneModel.modello}} - <b>{{'autoPropria.form.cartaCircolazione' | translate}}:</b> {{autoPropriaOrdineMissioneModel.cartaCircolazione}} - <b>{{'autoPropria.form.polizzaAssicurativa' | translate}}:</b> {{autoPropriaOrdineMissioneModel.polizzaAssicurativa}}</dd>
          </div>

           <div class="col-md-1"> 
                <button ng-show="validazione == 'N'" class="btn btn-outline" ng-click="edit()" data-toggle="tooltip" title="{{'global.button.edit' | translate}}"><span class="glyphicon glyphicon-pencil"></span></button>
          </div>
        </div>


          <div class="col-md-12 well highlight" ng-hide="isDisabilitataModificaAuto()"> 
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione-auto-propria.form.motivi-ispettivi">motivi ispettivi</span>
                            <label class="checkbox">
                                    <input ng-disabled="validazione != 'N'" type="checkbox" ng-model="autoPropriaOrdineMissioneModel.utilizzoMotiviIspettivi" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione-auto-propria.form.motivi-urgenza">motivi urgenza</span>
                            <label class="checkbox">
                                    <input ng-disabled="validazione != 'N'" type="checkbox" ng-model="autoPropriaOrdineMissioneModel.utilizzoMotiviUrgenza" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                <p class="col-md-12">
                         <span class="input-group">
                            <span class="input-group-addon" translate="ordine-missione-auto-propria.form.motivi-trasporto">motivi trasporto</span>
                            <label class="checkbox">
                                    <input ng-disabled="validazione != 'N'" type="checkbox" ng-model="autoPropriaOrdineMissioneModel.utilizzoMotiviTrasporto" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                </p>
            </form>
           <div class="col-md-10"> 
            <form class="form-inline" role="form" id ="missioni">
               <p class="input-group">
                  <span class="input-group-addon" translate="ordine-missione-auto-propria.form.auto-propria">auto</span>
                    <select ng-disabled="validazione != 'N'" class="form-control" ng-model="autoPropriaSelected" ng-change="changeAuto(autoPropriaSelected)" ng-options="autoPropria.targa + ' - ' + autoPropria.marca + ' ' + autoPropria.modello + ' - Numero Carta di Circolazione: ' + autoPropria.cartaCircolazione + ' - Numero Polizza Assicurativa: ' + autoPropria.polizzaAssicurativa for autoPropria in autoProprie"></select>
               </p>
            </form>
          </div>
           <div class="col-md-1"> 
                <button ng-show="validazione == 'N'" class="btn btn-sm" ng-disabled="saveButtonDisable(rigaAutoPropria)" ng-click="save()" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
          </div>
           <div class="col-md-1"> 
                <button ng-show="validazione == 'N'" class="btn btn-sm" ng-click="undo()" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
          </div>
          </div>
  </div>
</div>


<!--
    <select ui-select2="{width:'75%'}" id="selectDatiPatente" ng-model="idDatiPatente" ng-change="loadDatiPatente()">
      <option ng-repeat="patente in datiPatente" value="{{patente.ente}}">{{patente.ente}} - {{patente.dataRilascio}}</option>
    </select>
-->

<div class="panel panel-success">
  <div class="panel-heading color-rosso-mattone text-center">
    <h3 class="panel-title color-rosso-mattone" translate="ordine-missione-auto-propria.form.box-spostamenti">Spostamenti</h3>
  </div>
     <div class="panel-body my-panel-body">

      <button ng-disabled="addSpostamentoAutoPropria || !autoPropriaOrdineMissioneModel.id || validazione != 'N'" class="btn btn-sm btn-success color-verde-giada" data-toggle="tooltip" title="{{'ordine-missione-auto-propria.form.addSpostamento' | translate}}" ng-click="aggiungiRigaSpostamento()"><span class="glyphicon glyphicon-plus"></span></button> 
        <table class="table table-condensed table-striped table-bordered table-responsive">
          <tr>
            <th>{{'ordine-missione-auto-propria.form.percorso-da' | translate}}</th>
            <th>{{'ordine-missione-auto-propria.form.percorso-a' | translate}}</th>
          </tr>
          <tbody id ="missioni">
            <tr ng-repeat="spostamentoAutoPropria in spostamentiAutoPropria">
              <td ng-hide="spostamentoAutoPropria.editing" class="col-md-6" style="text-align: left" >{{spostamentoAutoPropria.percorsoDa}}</td>
              <td ng-show="spostamentoAutoPropria.editing" class="col-xs-6" style="text-align:left">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="spostamentoAutoPropria.percorsoDa" required maxlength="256">
              </td>
              <td ng-hide="spostamentoAutoPropria.editing" class="col-md-6" style="text-align: left">{{spostamentoAutoPropria.percorsoA}}</td>
              <td ng-show="spostamentoAutoPropria.editing" class="col-xs-6" style="text-align:left">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="spostamentoAutoPropria.percorsoA" required maxlength="256">
              </td>
              <td ng-hide="spostamentoAutoPropria.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="editSpostamento(spostamentoAutoPropria)" data-toggle="tooltip" title="{{'global.button.edit' | translate}}"><span class="glyphicon glyphicon-pencil"></span></button>
              </td>
              <td ng-hide="spostamentoAutoPropria.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="confirmDeleteSpostamenti($index)" data-toggle="tooltip" title="{{'global.button.remove' | translate}}"><span class="glyphicon glyphicon-trash" style="color:red"></span></button>
              </td>
              <td ng-show="spostamentoAutoPropria.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-disabled="saveButtonDisable(spostamentoAutoPropria)" ng-click="modifySpostamento(spostamentoAutoPropria)" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
              </td>
              <td ng-show="spostamentoAutoPropria.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="undoSpostamento(spostamentoAutoPropria)" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
              </td>
            </tr>


          <tr ng-show="addSpostamentoAutoPropria" id="spostamentoAddAutoPropria">

            <td class="col-xs-6">
              <input ng-disabled="validazione != 'N'" class="form-control" ng-model="newSpostamentoAutoPropria.percorsoDa" maxlength="256"</input>
            </td>
            <td class="col-xs-6">
              <input ng-disabled="validazione != 'N'" class="form-control" ng-model="newSpostamentoAutoPropria.percorsoA" maxlength="256"</input>
            </td>
            <td style="text-align: left">
              <form class="form-inline" role="form">
                <div class="form-group btn-group">
                  <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-disabled="saveButtonDisable(newSpostamentoAutoPropria)" ng-click="insertSpostamentoAutoPropria(newSpostamentoAutoPropria)" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
                </div>
              </form>
            </td>
            <td style="text-align: left">
              <form class="form-inline" role="form">
                <div class="form-group btn-group">
                  <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="undoAddSpostamentoAutoPropria()" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
                </div>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
<!--
            <form name="form" role="form" novalidate ng-submit="save()" show-validation>
                <div class="form-group">
                    <label translate="datiPatente.form.ente">Ente</label>
                    <input type="text" class="form-control" name="Ente" placeholder="{{'datiPatente.form.ente.placeholder' | translate}}"
                           ng-model="autoPropriaOrdineMissioneModel.entePatente" ng-minlength=1 ng-maxlength=100 required maxlength="100">
                </div>
                <div class="form-group">
                    <label translate="datiPatente.form.numero">Numero Patente</label>
                    <input type="text" class="form-control" name="numero" placeholder="{{'datiPatente.form.numero.placeholder' | translate}}"
                           ng-model="autoPropriaOrdineMissioneModel.numeroPatente" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.numero.$dirty && form.numero.$invalid">
                        <p class="help-block"
                               ng-show="form.numero.$error.required" translate="datiPatente.messages.validate.numero.required">
                            Il numero patente è obbligatorio.
                        </p>
                        <p class="help-block"
                               ng-show="form.numero.$error.minlength" translate="datiPatente.messages.validate.numero.minlength">
                            E' obbligatoria la lunghezza minima di 1 carattere
                        </p>
                        <p class="help-block"
                               ng-show="form.numero.$error.maxlength" translate="datiPatente.messages.validate.numero.maxlength">
                            Your first name cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="datiPatente.form.dataRilascio">data rilascio</label>
                    <input type="date" class="form-control" name="dataRilascio" placeholder="{{'datiPatente.form.dataRilascio.placeholder' | translate}}"
                           ng-model="autoPropriaOrdineMissioneModel.dataRilascioPatente" required>
                </div>
                  <div class="form-group">
                    <label translate="datiPatente.form.dataScadenza">data scadenza</label>
                    <input type="date" class="form-control" name="dataScadenza" placeholder="{{'datiPatente.form.dataScadenza.placeholder' | translate}}"
                           ng-model="autoPropriaOrdineMissioneModel.dataScadenzaPatente" required >
                </div>
                <div class="form-group">
                    <label translate="datiPatente.form.ente">Ente</label>
                    <input type="text" class="form-control" name="Ente" placeholder="{{'datiPatente.form.ente.placeholder' | translate}}"
                           ng-model="autoPropriaOrdineMissioneModel.entePatente" ng-minlength=1 ng-maxlength=100 required maxlength="100">
                </div>
            </form>
-->

  <div class="col-md-11">
    <ul class="pager">
      <li class="previous"><a ng-click="previousPage()" translate="global.button.close"></a></li>
    </ul>
  </div>
             <div class="col-md-3" ng-show="autoPropriaOrdineMissioneModel.id">
                 <a target="_blank" href="app/rest/public/printOrdineMissioneAutoPropria?idMissione={{idOrdineMissione}}&token={{accessToken}}" class="btn btn-default" data-toggle="tooltip" title="{{'ordine-missione-auto-propria.button.print' | translate}}"><span class="glyphicon glyphicon-print" style="color:black"></span></a>
             </div>
            <form name="form-inline" role="form" ng-submit="confirmDelete()">
                    <div class="col-md-1" ng-show="autoPropriaOrdineMissioneModel.id">
                            <button ng-show="validazione == 'N'" type="submit" class="btn btn-danger" data-toggle="tooltip" title="{{'global.button.remove' | translate}}"><span class="glyphicon glyphicon-trash" style="color:white"></span></button>
                    </div>
            </form>
        </div>
    </div>
</div>
