<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Missioni</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/font-awesome.css">
        <link rel="stylesheet" href="styles/selectize.default.css" />
        <link rel="stylesheet" href="styles/datepicker.css" />
        <link rel="stylesheet" href="styles/datepicker3.css" />
        <link rel="stylesheet" href="styles/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="styles/dropzone.css"></script>
        <link rel="stylesheet" href="styles/main.css">
				<link rel="stylesheet" href="styles/jquery.fileupload.css">
				<link rel="stylesheet" href="styles/jquery.fileupload-ui.css">
        <link rel="stylesheet" href="bower_components/select2/select2.css" />
        <link rel="stylesheet" href="styles/select.css" />

        <link rel="stylesheet" href="styles/missioni.css">
        <!-- endbuild -->
    </head>
    <body ng-app="missioniApp" ng-controller="MainController">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="development"></div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand" href="#"><span translate="global.title">Missioni</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="authenticated">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#/">
                                <span class="glyphicon glyphicon-home"></span>
                                <span translate="global.menu.home">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/manual">
                                <span class="glyphicon glyphicon-book"></span>
                                <span translate="global.menu.manual">Manuali</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/faq">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span translate="global.menu.faq">FAQ</span>
                            </a>
                        </li>
                        <li ng-show="account.uoForUsersSpecial">
                            <a href="#/helpdesk">
                                <span class="glyphicon glyphicon-headphones"></span>
                                <span translate="global.menu.helpdesk">HelpDesk</span>
                            </a>
                        </li>
                        <li ng-switch-when="true" class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ng-controller="MenuController">
                                <li ng-switch-when="true"><a href="#/autoPropria"><span class="fa fa-car"></span>
                                    &nbsp;<span translate="global.menu.entities.autoPropria">Auto Propria</span></a></li>
                                <li ng-switch-when="true"><a href="#/datiPatente"><span class="fa fa-road"></span>
                                    &nbsp;<span translate="global.menu.entities.datiPatente">Dati Patente</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ng-controller="MenuController">
                                <li ng-switch-when="true" ng-show="!account.isAccountLDAP"><a href="#/config"><span class="glyphicon glyphicon-refresh"></span>
                                    &nbsp;<span translate="global.menu.account.config">Config</span></a></li>
                                <li ng-switch-when="true" ng-show="!account.isAccountLDAP"><a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>
                                    &nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>
                                <li ng-switch-when="true" ng-show="!account.isAccountLDAP"><a href="#/password"><span class="glyphicon glyphicon-lock"></span>
                                    &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                                <li ng-switch-when="true"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                                    &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                                <li ng-switch-when="false"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>
                                    &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>
                                <li ng-switch-when="true" ng-show="!account.isAccountLDAP"><a href="#/register"><span class="glyphicon glyphicon-plus-sign"></span>
                                    &nbsp;<span translate="global.menu.account.register">Register</span></a></li>
                                <li ng-switch-when="true"><a href="#/ordine-missione"><span class="fa fa-pencil-square-o"></span>
                                    &nbsp;<span translate="global.menu.account.ordine-missione">Ordine di Missione</span></a></li>
                                <li ng-switch-when="true"><a href="#/elenco-ordini-missione"><span class="glyphicon glyphicon-list-alt"></span>
                                    &nbsp;<span translate="global.menu.account.elenco-ordini-missione">Ordine di Missione</span></a></li>
                                <li ng-switch-when="true"><a href="#/annullamento-ordine-missione"><span class="glyphicon glyphicon-floppy-remove"></span>
                                    &nbsp;<span translate="global.menu.account.annullamento-ordine-approvato">Annullamento Ordine di Missione Approvato</span></a></li>
                                <li ng-switch-when="true" ng-show="account.abilitatoRendereDefinitivo"><a href="#/ordini-missione-da-rendere-definitivi"><span class="glyphicon glyphicon-ok"></span>
                                    &nbsp;<span translate="global.menu.account.elenco-ordini-missione-per-definitivo">Ordine di Missione</span></a></li>
                                <li ng-switch-when="true"><a href="#/rimborso-missione"><span class="glyphicon glyphicon-euro"></span>
                                    &nbsp;<span translate="global.menu.account.rimborso-missione">Rimborso Missione</span></a></li>
                                <li ng-switch-when="true"><a href="#/elenco-rimborsi-missione"><span class="glyphicon glyphicon-list-alt"></span>
                                    &nbsp;<span translate="global.menu.account.elenco-rimborsi-missione">Elenco Rimborsi di Missione</span></a></li>
                            </ul>
                        </li>
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer" ng-controller="AdminController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin">Admin</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/metrics"><span class="glyphicon glyphicon-dashboard"></span>
                                    &nbsp;<span translate="global.menu.account.metrics">Metrics</span></a></li>
                                <li><a href="#/health"><span class="glyphicon glyphicon-heart"></span>
                                    &#xA0;<span translate="global.menu.account.health">Health</span></a></li>
                                <li><a href="#/configuration"><span class="glyphicon glyphicon-list-alt"></span>
                                    &#xA0;<span translate="global.menu.account.configuration">Configuration</span></a></li>
                                <li><a href="#/audits"><span class="glyphicon glyphicon-bell"></span>
                                    &nbsp;<span translate="global.menu.account.audits">Audits</span></a></li>
                                <li><a href="#/logs"><span class="glyphicon glyphicon-tasks"></span>
                                    &nbsp;<span translate="global.menu.account.logs">Logs</span></a></li>
                                <li><a href="#/docs"><span class="glyphicon glyphicon-book"></span>
                                    &nbsp;<span translate="global.menu.account.apidocs">API Docs</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown pointer" ng-controller="LanguageController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li active-menu="{{key}}" ng-repeat="(key, language) in languages">
                                    <a href="javascript:;" ng-click="changeLanguage(key)">{{language}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <img src="../images/missioni.png" class="img-responsive" />
        </div>

        <div class="container">
            <div class="well" ng-view=""></div>

          <div class="container footer">
            <span class="text-muted">copyright ©2016 Consiglio Nazionale delle Ricerche</span>
          </div>
        </div>
        <bar-working salvataggio="salvataggio"></bar-working>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->


        <!-- build:js scripts/scripts.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
        <script src="bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
        <script src="bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
        <script src="bower_components/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
        <script src="bower_components/jquery-file-upload/js/jquery.fileupload-process.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>

        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-select/dist/select.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/jquery-file-upload/js/jquery.fileupload-angular.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/moment/locale/it.js"></script>
        <script src="bower_components/moment/min/moment-with-locales.js"></script>
        <script src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
        <script src="bower_components/angular-selectize2/dist/selectize.js"></script>
        <script src="bower_components/ngstorage/ngStorage.js"></script>
        <script src="bower_components/select2/select2.js"></script>
        <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.it.js"></script>
        <script src="bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script src="bower_components/moment/min/moment-with-locales.js"></script>
        <script src="bower_components/lodash/dist/lodash.js"></script>
        <script src="bower_components/ng-currency/dist/ng-currency.js"></script>
        <script src="bower_components/dropzone/downloads/dropzone.min.js"></script>
        <script src="scripts/http-auth-interceptor.js"></script>
        <script src="scripts/truncate.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/ordine-missione/auto-propria.js"></script>
        <script src="scripts/ordine-missione/richiesta-anticipo.js"></script>
        <script src="scripts/autoPropria.js"></script>
        <script src="scripts/datiPatente.js"></script>
        <script src="scripts/manual.js"></script>
        <script src="scripts/direttore-uo.js"></script>
        <script src="scripts/ordine-missione.js"></script>
        <script src="scripts/rimborso-missione.js"></script>
        <script src="scripts/annullamento-ordine-missione.js"></script>
        <script src="scripts/elenco-ordini-missione.js"></script>
        <script src="scripts/rimborso-missione/elenco-rimborsi-missione.js"></script>
        <script src="scripts/rimborso-missione/rimborso-missione-dettagli.js"></script>
        <script src="scripts/ordini-missione-da-rendere-definitivi.js"></script>
        <script src="scripts/helpdesk.js"></script>
        <script src="scripts/faq.js"></script>
        <script src="scripts/date-util.service.js"></script> 
        <script src="scripts/proxy-rest.js"></script>
        <script src="scripts/services.js"></script> 
        <script src="scripts/datiIstituto.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/directives/cnr-widget-datetime-range.js"></script>
        <script src="scripts/directives/cnr-widget-date-range.js"></script>
        <script src="scripts/directives/cnr-widget-date.js"></script>
        <script src="scripts/directives/file-upload.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbuild -->
</body>
</html>
