<div class="container-fluid">
  <h4 center translate="rimborso-missione-dettagli.title" translate-values="{numeroRimborsoMissione: '{{rimborsoMissione.numero}}', destinazioneRimborsoMissione: '{{rimborsoMissione.destinazione}}', dataRimborsoMissione: '{{rimborsoMissione.dataInserimento | date:'dd/MM/yyyy'}}'}">Rimborso Missione</b></h4>
    <div class="row">
        <div class="col-md-12">

<div class="panel panel-primary">
  <div class="panel-heading color-celeste-avion text-center">
    <h3 class="panel-title color-celeste-avion" translate="missione.form.box-info">Informazioni anagrafiche</h3>
  </div>
          <div class="panel-body my-panel-body">
            <info-account account="accountModel"></info-account>
          </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading color-rosso-mattone text-center">
    <h3 class="panel-title color-rosso-mattone" translate="rimborso-missione-dettagli.form.box-dettaglio-spese">Dettaglio Spese</h3>
  </div>
     <div class="panel-body my-panel-body">

      <button ng-show = "!disabilita  && validazione == 'N'" ng-enabled="rimborsoMissione.id" class="btn btn-sm btn-success color-verde-giada" data-toggle="tooltip" title="{{'rimborso-missione-dettagli.form.add-dettaglio-spesa' | translate}}" ng-click="aggiungiDettaglioSpesa()"><span class="glyphicon glyphicon-plus"></span></button>
      <div class="row">
        <div class="col-md-12 text-center">
          <div>
              <div class="text-left">
                  <ul class="list-unstyled subscriptions">
                    <li ng-repeat="dettaglioSpesa in dettagliSpese">
                      <div class="row">
                        <div ng-hide="dettaglioSpesa.editing">
                          <div class="col-md-10">
                            <b>{{'rimborso-missione-dettagli.form.dettaglio-spese.data' | translate}}</b> {{dettaglioSpesa.dataSpesa | date:'dd/MM/yyyy'}}
                            <b> - {{'rimborso-missione-dettagli.form.dettaglio-spese.tipologia-spesa' | translate}}:</b>
                            {{dettaglioSpesa.dsTiSpesa}}
                            <span ng-show="dettaglioSpesa.cdTiPasto"><b> - {{'rimborso-missione-dettagli.form.dettaglio-spese.tipologia-pasto' | translate}}:</b>{{dettaglioSpesa.cdTiPasto}}</span>
                            <b> - {{'rimborso-missione-dettagli.form.dettaglio-spese.ds-spesa' | translate}}:</b> {{dettaglioSpesa.dsSpesa}}
                            <b> - {{'rimborso-missione-dettagli.form.dettaglio-spese.spesa-anticipata' | translate}}:</b> {{dettaglioSpesa.decodeSpesaAnticipata}}
                            <br>
<!--
                            <span ng-show="dettaglioSpesa.dsNoGiustificativo"><b>{{'rimborso-missione-dettagli.form.dettaglio-spese.mancanza-giustificativo' | translate}}:</b>  {{dettaglioSpesa.dsNoGiustificativo}}</span>
-->                            
                            <br>
                            <b>{{'rimborso-missione-dettagli.form.dettaglio-spese.importo' | translate}}:</b> {{dettaglioSpesa.importoEuro}}
                            <span ng-show="dettaglioSpesa.kmPercorsi"><b> - {{'rimborso-missione-dettagli.form.dettaglio-spese.km' | translate}}:</b>{{dettaglioSpesa.kmPercorsi}}</span>
                            <span ng-show="dettaglioSpesa.kmPercorsi"><b> - {{'rimborso-missione-dettagli.form.dettaglio-spese.localita-spostamento' | translate}}:</b>{{dettaglioSpesa.localitaSpostamento}}</span>
                            <div ng-show="dettaglioSpesa.viewAttachment">
                              <ul class="list-unstyled dettaglioSpesa.attachments" ng-show="dettaglioSpesa.attachmentsExists=true">
                                <li ng-repeat="attachment in dettaglioSpesa.attachments">
                                  <span class="glyphicon glyphicon-download-alt"></span>
                                  <a target="_blank" href="app/rest/public/getAttachment?id={{attachment.id}}&token={{accessToken}}" data-toggle="tooltip" title="{{'rimborso-missione-dettagli.form.dettaglio-spese.download-file' | translate}}">
                                    {{attachment.nomeFile}}
                                  </a>
                                  <button ng-show="!disabilita  && validazione == 'N'" class="btn btn-sm btn-link" ng-click="confirmDeleteAttachment(attachment)" data-toggle="tooltip" title="{{'rimborso-missione-dettagli.form.dettaglio-spese.remove-file' | translate}}"><span class="glyphicon glyphicon-trash" style="color:red"></span></button>
                                </li>
                              </ul>
                              <h4 >
                                  <div class="row fileupload-buttonbar">
                                    <span ng-hide="dettaglioSpesa.attachmentsExists=true" class="label label-warning">Nessun Allegato Disponibile</span>
                                    <ng-upload-form disabilita="disabilita" validazione="validazione" is-finish-rest-attachments="dettaglioSpesa.isFireSearchAttachments" url="app/rest/rimborsoMissione/dettaglio/uploadAllegati/{{dettaglioSpesa.id}}" name="file" auto-upload="true" dettagli-spese="dettagliSpese" size-limit="500000"></ng-upload-form>
                                </div>
                              </h4>
                            </div>
                          </div>
                          <div class="col-md-1-button-large col-md-1 text-right">
                            <button ng-hide="dettaglioSpesa.viewAttachment" class="btn btn-sm btn-default" ng-click="viewAttachments(dettaglioSpesa.id)">Allegati</button>
                            <button ng-show="dettaglioSpesa.viewAttachment" class="btn btn-sm btn-default" ng-click="deselect(dettaglioSpesa.id)">Nascondi allegati</button>
                          </div>
                        </div>
                        <div ng-show="dettaglioSpesa.editing">
                          <div class="col-md-11">
                            <form class="form-inline" role="form" id="missioni">
                                    <p class="col-md-2">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.data">data spesa</span>
                              <cnr-widget-date disabilitato="dettaglioSpesa.id" date-name="dataSpesa" start-date="inizioMissione" end-date="fineMissione" ng-model-date="dettaglioSpesa.dataSpesa"></cnr-widget-date>
                                        </span>
                                    </p>
                            </form>
                            <form class="form-inline" role="form" id="missioni">
                                    <p class="col-md-10">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.tipologia-spesa">tipo spesa</span>
                              <select  ng-disabled="dettaglioSpesa.id" class="form-control" ng-model="dettaglioSpesa.cdTiSpesa" ng-change="onChangeTipoSpesa(dettaglioSpesa.cdTiSpesa)" ng-options="tipo_spesa.cd_ti_spesa as tipo_spesa.ds_ti_spesa for tipo_spesa in tipi_spesa"></select>
                                        </span>
                                    </p>
                            </form>
                            <form class="form-inline" role="form" id="missioni" ng-show="dettaglioSpesa.pasto">
                                    <p class="col-md-12">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.tipologia-pasto">tipo pasto</span>
                              <select ng-disabled="!tipi_pasto || tipi_pasto.length == 0" class="form-control" ng-model="dettaglioSpesa.cdTiPasto" ng-options="tipo_pasto.cd_ti_pasto as tipo_pasto.cd_ti_pasto + '  -  Limite di Spesa: €   ' + tipo_pasto.limite_max_pasto for tipo_pasto in tipi_pasto"></select>
                                        </span>
                                    </p>
                            </form>
                            <form class="form-inline" role="form" id="missioni">
                                    <p class="col-md-12">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.ds-spesa">ds spesa</span>
                                        <textarea class="input-sm form-control" ng-model="dettaglioSpesa.dsSpesa" rows = "1"></textarea>
                                        </span>
                                    </p>
                            </form>
<!--                            <form class="form-inline" role="form" id="missioni" ng-show="dettaglioSpesa.giustificativo = 'S'">
                                    <p class="col-md-12">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.mancanza-giustificativo">mancanza giustificativo</span>
                                        <input class="input-sm form-control" ng-model="dettaglioSpesa.dsNoGiustificativo"></input>
                                        </span>
                                    </p>
                            </form>
-->
                            <form class="form-inline" role="form" id="missioni">
                                    <p class="col-md-2" ng-hide="dettaglioSpesa.rimborso">
                                         <span class="input-group">
                                            <span class="input-group-addon" translate="rimborso-missione-dettagli.form.dettaglio-spese.spesa-anticipata">Spesa Anticipata</span>
                                            <label class="checkbox">
                                                    <input type="checkbox" ng-model="dettaglioSpesa.flSpesaAnticipata" ng-true-value="S" ng-false-value="N">
                                            </label>
                                        </span>
                                    </p>
                                    <p class="col-md-3">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.importo">importo</span>
                                            <input ng-disabled="dettaglioSpesa.rimborso" class="form-control align-right" ng-model="dettaglioSpesa.importoEuro" ng-currency currency-symbol="€" maxlength="25"</input>
                                        </span>
                                    </p>
                            </form>
                            <form class="form-inline" role="form" id="missioni" ng-show="dettaglioSpesa.rimborso">
                                    <p class="col-md-3">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.km">km</span>
                                            <input class="form-control align-right" ng-model="dettaglioSpesa.kmPercorsi" ng-change="onChangeKm(dettaglioSpesa.kmPercorsi)" maxlength="20"</input>
                                        </span>
                                    </p>
                                    <p class="col-md-4">
                                        <span class="input-group">
                                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.localita-spostamento">localita</span>
                                            <input class="form-control align-right" ng-model="dettaglioSpesa.localitaSpostamento" maxlength="200"</input>
                                        </span>
                                    </p>
                            </form>
                          </div>
                        </div>
        <div class="col-md-1-button col-md-1 text-right" >
           <button ng-show="!disabilita && validazione == 'N' && !dettaglioSpesa.editing " class="btn btn-sm btn-link" ng-click="editDettaglioSpesa(dettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.edit' | translate}}"><span class="glyphicon glyphicon-pencil"></span></button>
            <button ng-show="!disabilita && validazione == 'N' && !dettaglioSpesa.editing " class="btn btn-sm btn-link" ng-click="confirmDeleteDettaglioSpesa($index)" data-toggle="tooltip" title="{{'global.button.remove' | translate}}"><span class="glyphicon glyphicon-trash" style="color:red"></span></button>
            <button ng-show="!disabilita && validazione == 'N' && dettaglioSpesa.editing" class="btn btn-sm btn-link" ng-disabled="saveButtonDisable(dettaglioSpesa)" ng-click="modifyDettaglioSpesa(dettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
            <button ng-show="!disabilita && validazione == 'N' && dettaglioSpesa.editing" class="btn btn-sm btn-link" ng-click="undoDettaglioSpesa(dettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
        </div>
                      </div>
                    </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center" ng-show="addDettaglioSpesa" id="addDettaglio">
          <div class="row">
          <div class="col-md-11">
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-2">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.data">data spesa</span>
              <cnr-widget-date date-name="dataSpesa" start-date="inizioMissione" end-date="fineMissione" ng-model-date="newDettaglioSpesa.dataSpesa"></cnr-widget-date>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-10">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.tipologia-spesa">tipo spesa</span>
              <select ng-disabled="!tipi_spesa || tipi_spesa.length == 0" class="form-control" ng-model="newDettaglioSpesa.cdTiSpesa" ng-change="onChangeTipoSpesa(newDettaglioSpesa.cdTiSpesa)" ng-options="tipo_spesa.cd_ti_spesa as tipo_spesa.ds_ti_spesa for tipo_spesa in tipi_spesa"></select>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni" ng-show="pasto">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.tipologia-pasto">tipo pasto</span>
              <select ng-disabled="!tipi_pasto || tipi_pasto.length == 0" class="form-control" ng-model="newDettaglioSpesa.cdTiPasto" ng-options="tipo_pasto.cd_ti_pasto as tipo_pasto.cd_ti_pasto + '  -  Limite di Spesa: €   ' + tipo_pasto.limite_max_pasto for tipo_pasto in tipi_pasto"></select>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.ds-spesa">ds spesa</span>
                        <textarea class="input-sm form-control" ng-model="newDettaglioSpesa.dsSpesa" rows = "1"></textarea>
                        </span>
                    </p>
            </form>
<!--
            <form class="form-inline" role="form" id="missioni" ng-show="newDettaglioSpesa.giustificativo == 'S'">
                    <p class="col-md-12">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.mancanza-giustificativo">mancanza giustificativo</span>
                        <input class="input-sm form-control" ng-model="newDettaglioSpesa.dsNoGiustificativo"></input>
                        </span>
                    </p>
            </form>
-->            
            <form class="form-inline" role="form" id="missioni">
                    <p class="col-md-2" ng-hide="rimborso">
                         <span class="input-group">
                            <span class="input-group-addon" translate="rimborso-missione-dettagli.form.dettaglio-spese.spesa-anticipata">Spesa Anticipata</span>
                            <label class="checkbox">
                                    <input type="checkbox" ng-model="newDettaglioSpesa.flSpesaAnticipata" ng-true-value="S" ng-false-value="N">
                            </label>
                        </span>
                    </p>
                    <p class="col-md-3">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.importo">importo</span>
                            <input ng-disabled="rimborso" class="form-control align-right" ng-model="newDettaglioSpesa.importoEuro" ng-currency currency-symbol="€" maxlength="25"</input>
                        </span>
                    </p>
            </form>
            <form class="form-inline" role="form" id="missioni" ng-show="rimborso">
                    <p class="col-md-3">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.km">km</span>
                            <input class="form-control align-right" ng-model="newDettaglioSpesa.kmPercorsi" ng-change="onChangeKm(newDettaglioSpesa.kmPercorsi)" maxlength="20"></input>
                        </span>
                    </p>
                    <p class="col-md-4">
                        <span class="input-group">
                          <span class="input-group-addon label-input-group-for-select" translate="rimborso-missione-dettagli.form.dettaglio-spese.localita-spostamento">localita</span>
                            <input class="form-control align-right" ng-model="newDettaglioSpesa.localitaSpostamento" maxlength="200"></input>
                        </span>
                    </p>
            </form>
        </div>
            <div class="col-md-1 text-right">
                  <button class="btn btn-sm btn-link" ng-disabled="saveButtonDisable(newDettaglioSpesa)" ng-click="insertDettaglioSpesa(newDettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
                  <button class="btn btn-sm btn-link" ng-click="undoAddDettaglioSpesa()" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
            </div>
        </div>
        </div>
      </div>
      </div>
    </div>
     <b>{{'rimborso-missione-dettagli.form.dettaglio-spese.totale-dettagli' | translate}}</b> {{getTotaleDettagliSpesa() | currency : "€"}}

  <div class="col-md-11">
    <ul class="pager">
      <li class="previous"><a ng-click="previousPage()" translate="global.button.close"></a></li>
    </ul>
  </div>
             <div class="col-md-3" ng-show="autoPropriaOrdineMissioneModel.id">
                 <a target="_blank" href="app/rest/public/printRimborsoMissione?idRimborsoMissione={{idRimborsoMissione}}&token={{accessToken}}" class="btn btn-default" data-toggle="tooltip" title="{{'rimborso-missione.button.print' | translate}}"><span class="glyphicon glyphicon-print" style="color:black"></span></a>
             </div>
        </div>
    </div>
</div>
