<div class="container-fluid">
  <h4 center translate="rimborso-missione-dettagli.title" translate-values="{numeroRimborsoMissione: '{{rimborsoMissione.numero}}', destinazioneRimborsoMissione: '{{rimborsoMissione.destinazione}}', dataRimborsoMissione: '{{rimborsoMissione.dataInserimento | date:'dd/MM/yyyy'}}'}">Rimborso Missione</b></h4>
    <div class="row">
        <div class="col-md-12">

<div class="panel panel-primary">
  <div class="panel-heading color-celeste-avion text-center">
    <h3 class="panel-title color-celeste-avion" translate="missione.form.box-info">Informazioni anagrafiche</h3>
  </div>
          <div class="panel-body my-panel-body">
            <info-account account="accountModel"></info-account>
          </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading color-rosso-mattone text-center">
    <h3 class="panel-title color-rosso-mattone" translate="rimborso-missione-dettagli.form.box-dettaglio-spese">Dettaglio Spese</h3>
  </div>
     <div class="panel-body my-panel-body">

      <button ng-enabled="rimborsoMissione.id" class="btn btn-sm btn-success color-verde-giada" data-toggle="tooltip" title="{{'rimborso-missione-dettagli.form.add-dettaglio-spesa' | translate}}" ng-click="aggiungiDettaglioSpesa()"><span class="glyphicon glyphicon-plus"></span></button>
        <table class="table table-condensed table-striped table-bordered table-responsive">
          <tr id ="missioni">
            <th>{{'rimborso-missione-dettagli.form.dettaglio-spese.data' | translate}}</th>
            <th>{{'rimborso-missione-dettagli.form.dettaglio-spese.tipologia-spesa' | translate}}</th>
            <th>{{'rimborso-missione-dettagli.form.dettaglio-spese.ds-spesa' | translate}}</th>
            <th class="align-right">{{'rimborso-missione-dettagli.form.dettaglio-spese.importo' | translate}}</th>
            <th class="align-right">{{'rimborso-missione-dettagli.form.dettaglio-spese.km' | translate}}</th>
          </tr>
          <tfoot>
            <tr>
              <td style="font-weight:bold" colspan="3" align="right" translate="rimborso-missione-dettagli.form.dettaglio-spese.totale-dettagli">Totale</td>
              <td align="right"> {{getTotaleDettagliSpesa()}}</td>
              <td></td>
            </tr>
          </tfoot>
          <tbody id ="missioni">
            <tr ng-repeat="dettaglioSpesa in dettagliSpesa">
              <td ng-hide="dettaglioSpesa.editing" class="col-md-1" style="text-align: left" >{{dettaglioSpesa.dataSpesa}}</td>
              <td ng-show="dettaglioSpesa.editing" class="col-xs-1" style="text-align:left">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="dettaglioSpesa.dataSpesa" required maxlength="256">
              </td>
              <td ng-hide="dettaglioSpesa.editing" class="col-md-4" style="text-align: left">{{dettaglioSpesa.dsTiSpesa}}</td>
              <td ng-show="dettaglioSpesa.editing" class="col-xs-4" style="text-align:left">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="dettaglioSpesa.dsTiSpesa" required maxlength="256">
              </td>
              <td ng-hide="dettaglioSpesa.editing" class="col-md-1" style="text-align: left">{{dettaglioSpesa.dsSpesa}}</td>
              <td ng-show="dettaglioSpesa.editing" class="col-xs-1" style="text-align:left">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="dettaglioSpesa.dsSpesa" required maxlength="256">
              </td>
              <td ng-hide="dettaglioSpesa.editing" class="col-md-1" style="text-align: left" >{{dettaglioSpesa.importoEuro}}</td>
              <td ng-show="dettaglioSpesa.editing" class="col-xs-1" style="text-align:right">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="dettaglioSpesa.importoEuro" ng-currency required maxlength="256">
              </td>
              <td ng-hide="dettaglioSpesa.editing" class="col-md-1" style="text-align: left">{{dettaglioSpesa.kmPerscorsi}}</td>
              <td ng-show="dettaglioSpesa.editing" class="col-xs-1" style="text-align:right">
                <input ng-disabled="validazione != 'N'" class="form-control" ng-model="dettaglioSpesa.kmPerscorsi" maxlength="256">
              </td>
              <td ng-hide="dettaglioSpesa.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="editDettaglioSpesa(dettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.edit' | translate}}"><span class="glyphicon glyphicon-pencil"></span></button>
              </td>
              <td ng-hide="dettaglioSpesa.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="confirmDeleteDettaglioSpesa($index)" data-toggle="tooltip" title="{{'global.button.remove' | translate}}"><span class="glyphicon glyphicon-trash" style="color:red"></span></button>
              </td>
              <td ng-show="dettaglioSpesa.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-disabled="saveButtonDisable(dettaglioSpesa)" ng-click="modifyDettaglioSpesa(dettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
              </td>
              <td ng-show="dettaglioSpesa.editing">
                <button ng-show="validazione == 'N'" class="btn btn-sm btn-link" ng-click="undoDettaglioSpesa(dettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
              </td>
            </tr>


          <tr ng-show="addDettaglioSpesa" id="spostamentoAddAutoPropria">

            <td class="col-xs-1 without-padding">
              <cnr-widget-date date-name="dataSpesa" start-date="inizioMissione" end-date="fineMissione" ng-model-date="newDettaglioSpesa.dataSpesa"></cnr-widget-date>
                <button class="btn btn-sm btn-link" ng-click="onChangeDataDettaglio()" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
            </td>
            <td class="col-xs-5">
              <select class="form-control" ng-model="newDettaglioSpesa.cdTiSpesa" ng-options="tipo_spesa.cd_ti_spesa as tipo_spesa.ds_ti_spesa for tipo_spesa in tipi_spesa"></select>
            </td>
            <td class="col-xs-2">
              <textarea class="input-sm form-control" ng-model="newDettaglioSpesa.dsSpesa" rows = "1"></textarea>
            </td>
            <td class="col-xs-1">
              <input class="form-control align-right" ng-model="newDettaglioSpesa.importoEuro" ng-currency currency-symbol="" maxlength="25"</input>
            </td>
            <td class="col-xs-1">
              <input class="form-control" ng-model="newDettaglioSpesa.kmPercorsi" maxlength="20"</input>
            </td>
            <td style="text-align: left">
              <form class="form-inline" role="form">
                <div class="form-group btn-group">
                  <button class="btn btn-sm btn-link" ng-disabled="saveButtonDisable(newDettaglioSpesa)" ng-click="insertDettaglioSpesa(newDettaglioSpesa)" data-toggle="tooltip" title="{{'global.button.saveEdit' | translate}}"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
                </div>
              </form>
            </td>
            <td style="text-align: left">
              <form class="form-inline" role="form">
                <div class="form-group btn-group">
                  <button class="btn btn-sm btn-link" ng-click="undoAddDettaglioSpesa()" data-toggle="tooltip" title="{{'global.button.undo' | translate}}"><span class="glyphicon glyphicon-remove" style="color:orange"></span></button>
                </div>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  <div class="col-md-11">
    <ul class="pager">
      <li class="previous"><a ng-click="previousPage()" translate="global.button.close"></a></li>
    </ul>
  </div>
             <div class="col-md-3" ng-show="autoPropriaOrdineMissioneModel.id">
                 <a target="_blank" href="app/rest/public/printRimborsoMissione?idRimborsoMissione={{idRimborsoMissione}}&token={{accessToken}}" class="btn btn-default" data-toggle="tooltip" title="{{'rimborso-missione.button.print' | translate}}"><span class="glyphicon glyphicon-print" style="color:black"></span></a>
             </div>
        </div>
    </div>
</div>
